<%- include('_header.ejs', {
	title: title,
	bodyId: 'export',
}) %>
	<div>
		<h1><img src="/logo.jpg" alt="Night of Chances logo" height="120" width="150" /></h1>

		<ul>
			<li><strong><%= type %></strong>: <%= eventDocument.Name2 %></li>
			<li><strong>Firma</strong>: <%= eventDocument.Name1 %></li>
			<li><strong>Čas</strong>: <%=
				eventDocument.StartTime.split(' ')[1]
				+ ' - '
				+ eventDocument.EndTime.split(' ')[1]
			%></li>
			<li><strong>Miestnosť</strong>: <%= eventDocument.Room %></li>
			<% if (type === 'Workshop') { %>
			<li><strong>Buddy</strong>: <%= eventDocument.Buddy %></li>
			<% } %>
		</ul>
	</div>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Meno</th>
				<th>Priezvisko</th>
				<th>Email</th>
				<th>Telefón</th>
				<th>Škola</th>
				<th>Ročník</th>
				<th class="print-hide">CV</th>
				<th>Potvrdený</th>
			</tr>
		</thead>
		<tbody>
			<% studentDocuments.forEach(function (studentDocument, index) { %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= studentDocument.FirstName %></td>
				<td><%= studentDocument.LastName %></td>
				<td><%= studentDocument.Email %></td>
				<td><%= studentDocument.NumberScreen %></td>
				<td><%= studentDocument.SchoolScreen %></td>
				<td><%= studentDocument.GradeScreen %></td>
				<td class="print-hide">
					<% if (studentDocument.CVLink !== '') { %>
					<a href="<%= studentDocument.CVLink %>" target="_blank">odkaz</a>
					<% } %>
				</td>
				<td><%= studentDocument.isConfirmed ? 'áno' : 'nie' %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
<%- include('_footer.ejs') %>
