<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title><%= title %></title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous"/>

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
			integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
			crossorigin="anonymous"/>

		<style>
			body {
				padding: 1.5em;
			}
			div {
				padding: 0;
				margin: 0 0.4em;
				float: left;
				list-style: none;
			}
			th {
				background: #333;
				color: white;
			}
			td, th {
				padding: 0.4em;
				border: thin solid silver;
			}
		</style>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div>
			<h2>Neodpovedal</h2>
			<table>
				<thead>
					<th>Workshop ID</th>
					<th>Workshop Name</th>
					<th>Email</th>
				</thead>
				<tbody>
					<% pendingList.forEach(function (pendingDocument) { %>
					<tr>
						<td><%= pendingDocument.ws_id %></td>
						<td><%= pendingDocument.ws_name %></td>
						<td><%= pendingDocument.email %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
		<div>
			<h2>Potvrdil</h2>
			<table>
				<thead>
					<th>Workshop ID</th>
					<th>Workshop Name</th>
					<th>Email</th>
					<th>Odoslane</th>
				</thead>
				<tbody>
					<% confirmedList.forEach(function (confirmedDocument) { %>
					<tr>
						<td><%= confirmedDocument.ws_id %></td>
						<td><%= confirmedDocument.ws_name %></td>
						<td><%= confirmedDocument.email %></td>
						<td><%= confirmedDocument.date_time_submitted %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
		<div>
			<h2>Zamietol</h2>
			<table>
				<thead>
					<th>Workshop ID</th>
					<th>Workshop Name</th>
					<th>Email</th>
					<th>Odoslane</th>
				</thead>
				<tbody>
					<% rejectedList.forEach(function (rejectedDocument) { %>
					<tr>
						<td><%= rejectedDocument.ws_id %></td>
						<td><%= rejectedDocument.ws_name %></td>
						<td><%= rejectedDocument.email %></td>
						<td><%= rejectedDocument.date_time_submitted %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	</body>
</html>
