<%- include('_header.ejs', {
	title: title,
	bodyId: 'export',
}) %>
	<div>
		<img src="/logo.png" alt="Night of Chances logo" height="120" width="150" style="float: right; margin-top: 10px; margin-right: 20px" />
		<h2 style="margin-top: 0">NoC Business 2017 Bratislava</h2>
		<ul>
			<li><strong><%= type %></strong>: <%= eventDocument.Name2 %></li>
			<li><strong>Firma</strong>: <%= eventDocument.Name1 %></li>
			<li><strong>Čas</strong>: <%=
				eventDocument.StartTime /* .split(' ')[1] */
				+ ' - '
				+ eventDocument.EndTime /* .split(' ')[1] */
			%></li>
			<li><strong>Miestnosť</strong>: <%= eventDocument.Room %></li>
			<% /* if (type === 'Workshop') { */ %>
			<li><strong>Buddy</strong>: <%= eventDocument.Buddy %></li>
			<% /* } */ %>
		</ul>
	</div>
	<table style="width: 100%; clear: both">
		<thead>
			<tr>
				<th>#</th>
				<th>Meno</th>
				<th>Priezvisko</th>
				<th>Email</th>
				<th>Telefón</th>
				<th>Škola</th>
				<th>Ročník</th>
				<% /* %><th>Potvrdený</th><% */ %>
				<th>CV</th>
				<% /* %><th>Prítomný</th><% */ %>
			</tr>
		</thead>
		<tbody>
			<% studentDocuments.forEach(function (studentDocument, index) { %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= studentDocument.FirstName %></td>
				<td><%= studentDocument.LastName %></td>
				<td><%= studentDocument.Email %></td>
				<td><%= studentDocument.NumberScreen %></td>
				<td><%= studentDocument.SchoolScreen %></td>
				<td><%= studentDocument.GradeScreen %></td>
				<% /* %><td><%= studentDocument.isConfirmed ? 'áno' : 'nie' %></td><% */ %>
				<td>
					<% if (studentDocument.CVLink !== '') { %>
					<a href="<%= studentDocument.CVLink %>" target="_blank">odkaz</a>
					<% } %>
				</td>
			</tr>
			<% }); %>
			<% /* for (var i = 0; i < 10; ++i) { %>
			<tr>
				<td><%= i + studentDocuments.length + 1 %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<% } */ %>
		</tbody>
	</table>
<%- include('_footer.ejs') %>
